<html>
<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>


<div class="container">

	<div class="jumbotron">
			<h2 class="heading">Create an Account</h2>
			<h4 class="info"> First Provide us with some info:</h4>
		</div>
		<div class="creating" style="text-align: center;">
		<ul style="list-style-type: none;">
  			<li> Name: <input type="text" name="Name" size="30"
     		 maxlength="25"></li>
 	 <br>
  			<li> Email: <input type="text" name="Email" size="30" 
    		 maxlength="25"></li>
    <br>
    		<li> Password: <input type="Password" name="Password" size="30"
     		 maxlength="25"></li>
			</ul>
			<a href="/"> <button id="Submit"> Create!</button></a>
		</div>
</div>
</body>
</html>
