<html>
<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<div class= "container-fluid">
	<nav class="navbar navbar-expand-sm justified-content-center">
		<ul class="navbar-nav">

			<li class = "nav-item">
				<img src="images/home.png" href="/" class = "navimage">
				<a class ="nav-link1" href="/">Home</a>
			
			<li class="nav-item">
				<img src="images/settings.png" class = "navimage">
				<a class="nav-link2" href="#"> Settings </a>
			</li>
			
			<li class="nav-item" >
				<img src="images/eyes.png" href="/" class = "navimage">
				<a class= "nav-link3" href="#"> Style </a>
			</li>
		</ul>
	</nav>
</div>

<div class="container">

	<div class="jumbotron">
			<h1 class="heading">
				Welcome!
			</h1>
			<h3 class="streak">
				Current Streak: 0
			</h3>
		</div>
	<div>
		<div class = "curent">
		<h3> Current Topics: </h3>
			<button type="button"> <a href="/reading"> Periodic Table </a></button>
			<button type="button"> <a href="#"> Java Programming </a></button>
</div>
	<body>
		<h4>
			Search for a topic
		</h4>
		<form class="form-inline" action="/topic.php">
			<input type="topic" size=100>
			<button type="submit" class="btn btn-primary">Go!</button>
		</form>
		</div>

	

	<div class="container">
 		 <h2>Top Lessons</h2>

 		 <li class = "suggested"> 
 		 	<a href="#"> Math </a>
 		 	<img class = "suggestedimg" src="images/math.png">
 		 </li>

 		 <li class = "suggested"> 
 		 	<a href="#"> Science </a>
 		 	<img class = "suggestedimg" src="images/science.png">
 		 </li>

 		 <li class = "suggested"> 
 		 	<a href="#"> History </a>
 		 	<img class = "suggestedimg" src="images/history.png">
 		 </li>

 		 <br>

 		 <li class = "suggested"> 
 		 	<a href="#"> English </a>
 		 	<img class = "suggestedimg" src="images/english.png">
 		 </li>

  		 <li class = "suggested"> 
 		 	<a href="#"> Psychology </a>
 		 	<img class = "suggestedimg" src="images/psychology.png">
 		 </li>

 		 <li class = "suggested"> 
 		 	<a href="#"> Economics </a>
 		 	<img class = "suggestedimg" src="images/economics.png">
 		 </li>

 		 	
		</div>

	</body>
</html>
