<html>
<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div class= "container-fluid">
	<nav class="navbar navbar-expand-sm justified-content-center">
		<ul class="navbar-nav">

			<li class = "nav-item">
				<a class ="nav-link" href="/index">Home</a>
			
			<li class="nav-item">
				<a class="nav-link" href="/settings"> Settings </a>
			</li>
			
			<h1> </h1>

		</ul>
	</nav>
</div>

<div class="container">

	<div class="jumbotron">
			
			<h1 class="heading" style="font-weight: bold; font-family:'Courier New', monospace;">
				Welcome <!--<h1 id="name" style="font-weight: bold; font-family:'Courier New', monospace;">Name--></h1>
			</h1>
			<br>
			<h3 class="streak">
				Current Streak: 0
			</h3>
		</div>
	<div>
		<div class = "curent">
		<h3  style="font-weight: bold"> Current Topics: </h3>
			<button type="button"> <a href="/reading/chemistry"> Periodic Table </a></button>
			<button type="button"> <a href="/reading/economics"> Economics </a></button>
</div>

	<!-- <body>
		<h4>
			Search for a topic
		</h4>
		<form class="form-inline" action="/topic.php">
			<input type="topic" >
			<button type="submit" class="btn btn-primary">Go!</button>
		</form>
		</div>
	>
-->

	<div class="container">

		<br>
		
 		 <h3 style="font-weight: bold">Top Lessons: </h3>
 		 {{#each butt}}
 		 <li class = "suggested"> 
 		 	<p style="font-weight: bold; font-size: 20px;" > {{bTitle}} </p>
 		 <a href = {{location}}>
 		 	<img class = "image2" src={{bImage}} >
 		 </a>

 		 </li>
 		
 		 	 {{/each}}
		</div>

	</body>
</html>
