<html>
<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<div class= "container-fluid">
	<nav class="navbar navbar-expand-sm justified-content-center">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link1" href="#"> Home </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"> Settings </a>
			</li>
		</ul>
	</nav>
</div>

<div class="container">

	<div class="jumbotron">
			<h1 class="heading">
				Chemistry
			</h1>
			<h3 class="streak">
				Current Streak: 0
			</h3>
		</div>
	<div>

	<body>
		<h4>
			Search for a topic
		</h4>
		<form class="form-inline" action="/topic.php">
			<input type="topic">
			<button type="submit" class="btn btn-primary">Go!</button>
		</form>
		</div>

	<div class="container">
 		 <h2>Periodic Table</h2>
 		 <img src="images/periodictable.png">

		</div>

	</body>
</html>
