<html>
<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	{{> facebook}}
<script src="/js/facebook.js"></script>

</head>
	<body>	
<div class="container">

	<div class="jumbotron">
			<h1 style="font-family:'Courier New', monospace; font-weight: bold; font-size: 60px;"> Learning Styles </h1>
		
			<br>
			<h4 style="text-align: center;font-weight: bold; font-size: 40px;" > Welcome!</h4>
			<br>
			<p class="facebookLogin" style="font-size: 30px;">login through Facebook:  
				<br>
			<fb:login-button scope="public_profile,email" data-size="large" onlogin="checkLoginState();">
</fb:login-button>
</p>
		</div>


<!--
<form action="/add">
<div class="login" style="text-align: center; font-weight: bold;">
		<ul style="list-style-type: none;">
  			<li style="font-size: 20px;" > Email: 
  				<input type="email" for= "email" id="inEmail" required name="email" size="20" maxlength="25" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></li>
 	 <br>
  			<li style="font-size: 20px;"> Password: 
  				<input type="password" name="password" size="20" maxlength="25"></li>
			</ul>
			<a href="/index"> <button id="mylogbttn"> Login!</button></a>
			<br>
			
		</div>
</form>
		
	<div class="Create">
		<button id="make"><a href="/create"><h4 style="text-align: center;"> Create an account </h4></a></button>
</div>
</div>
-->

</body>
</html>
