<html>
<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>


<div class="container">

	<div class="jumbotron">
			<h2 class="logheading" style="text-align: center;">Login</h2>
			<h4 style="text-align: center;"> Welcome Back!</h4>
		</div>
</div>
	<body>
	<div class="login" style="text-align: center;">
		<ul style="list-style-type: none;">
  			<li> Email: <input type="text" name="Email" size="30"
     		 maxlength="25"></li>
 	 <br>
  			<li> Password: <input type="password" name="password" size="30" 
    		 maxlength="25"></li>
			</ul>
			<a href="/index"> <button id="mylogbttn"> Login!</button></a>
		</div>
	<div class="Create">
		<a href="/create"><h4 style="text-align: center;"> Create an account </h4></a>
</div>
	</body>
</html>
