<html>

<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>

	<div id = "navbar">
		 <nav class="navbar navbar-expand-sm justified-content-center">
			<ul class="navbar-nav">
				<li class = "nav-item">
					<a class ="nav-link1" href="/index" >Home</a>
				</li>
			
				<li class="nav-item">
					<a class="nav-link" href="/settings"> Settings </a>
				</li>
			</ul>
		 </nav>

				<div class="dropdown">
  					<button  class="dropbtn" id = "btnhome">Reading/Visual</button>
  					<div id="myDropdown" class="dropdown-content">
   						<a href="/reading">Reading/Visual</a>
    					<a href="/visual">Visual/Auditory</a>
    					<a href="#">Hands-On</a>
    					<a href="#">Reading/Writing</a>
  					</div>
				</div>
				
				<h5 class = "streaklesson"> Current Streak: 1</h5>
			
	</div>	

	<div class="container">
		{{#each lessons}}
		
		<div class="jumbotron">
			<h1 class="heading">
				{{title}}
			</h1>
		</div>

	</div>

	<div class="container">
 		 
 		 <img src={{image}} class="image1">
 		 
 		 <h2 class= "description"> {{description}} </h2>

 		 {{/each}}
		</div>

	</body>
</html>
