<html>

<head>
	<title>Learning Spaces App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/learningStyles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>


<body>

	<div id = "navbar">
		 <nav class="navbar navbar-expand-sm justified-content-center">
			<ul class="navbar-nav">
				<li class = "nav-item">
					<a class ="nav-link1" href="/index" >Home</a>
				</li>
			
				<li class="nav-item">
					<a class="nav-link" href="/settings"> Settings </a>
				</li>
			</ul>
		 </nav>

				<div class="dropdown">
  					<button  class="dropbtn" id = "btnhome">Hands-On/Writing </button>
  					<div id="myDropdown" class="dropdown-content">
   						<a href="/reading/chemistry">Reading/Visual</a>
    					<a href="/visual/chemistry">Visual/Auditory</a>
    					<a href="/writing">Hands-On/Writing</a>
  					</div>
				</div>
				
				<h5 class = "streaklesson"> Current Streak: 1</h5>
			
	</div>

	<div class="container">
		{{#each lessons}}
		
		<div class="jumbotron">
			<h1 class="heading">
				{{title}}
			</h1>
		</div>

	</div>

	<div class="container">
 		 
 		 <img src={{image}} class="image1">
 		 
 		 <h2 class= "description"> {{description}} </h2>

 		 {{/each}}
		</div>

	<div class="quizform">

	<h2 style="font-weight: bold;"> Questions! </h2>

	<h4> 1. What is the first element on the periodic table? </h4>
		<h5> a. Boron </h5>
		<h5> b. Hydrogen </h5>
		<h5> c. Carbon </h5>
		<h5> d. Helium </h5>

		<br>

	<h4> 2. What group does Sulfur belong to? </h4>
		<form class="form-inline" action="/topic.php">
			<input type="topic" >
			<button type="submit" class="btn btn-primary">check</button>
		</form>

		<br>
	
	<h4> 1. Which element is considered a halogen? </h4>
		<h5> a. Helium </h5>
		<h5> b. Fluorine </h5>
		<h5> c. Oxygen </h5>
		<h5> d. Chlorine </h5>

		<br>
	<h4> 2. What group does Sulfur belong to? </h4>
		<form class="form-inline" action="/topic.php">
			<input type="topic" >
			<button type="submit" class="btn btn-primary">check</button>
		</form>

		<br>

	</div>




	<div id="quiz"></div>
	<button id="submit">Submit Quiz</button>
	<div id="results"></div>

	


</body>

</html>
