
.heading {
	text-align: center;
} 

.streak {
	text-align: right;
}
.nav-link1{
	padding-right:5em;
}
.nav-link2{
	padding-right: 5em;
}

.current{
	padding:2em;
}

.image1{
	width: 1000px;
	height: 700px;
}

.metals {
	display: inline-block;
	width:60%;

}

.image2 {
	display: inline-block;
	width:100px;
	height: 500px;
	margin-right: 300px
}

.description {
	width: 1000px;
}

.navimage{
	width:20px;
	height: 20px;
	margin-right: 10px;
}

.suggestedimg {
	width:300px;
	height: 300px;
}